.bottomLinkMenu {
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    background: #00000069;
}

.modal{
  overflow: auto;
}

.bottomLinkMenu > a {
    padding: 15px;
    color: #fff !important;
}

.bottomLinkMenu > span.separator {
    padding: 15px 0px 15px 0px;
    color: #fff;
}

.modal-backdrop{
  /*display: none;*/
  z-index: 1029;
}

.img-box-a{
	min-height: 290px;
}

img.img-a.imgresize.img-fluid,
img.img-b.img-fluid,
img.img-d.img-fluid.imgfull{
  min-height: 290px;
	   width: 100%!important;
    position: absolute!important;
    margin: auto;
    height: auto!important;
    bottom: -9999px;
    right: -9999px;
    top: -9999px;
    left: -9999px;
}

.img-box-abcd {
    min-height: 290px;
}


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.firstbuttonpage, .lastbuttonpage {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.datafunction{
    min-height: 290px;
    width: 100%!important;
    position: absolute!important;
    margin: auto;
    height: auto!important;
    bottom: -9999px;
    right: -9999px;
    top: -9999px;
    left: -9999px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}


.design-about{
      padding: 7px 30px 30px;
    background: #fff;
    box-shadow: 0px 0px 15px rgb(51 51 51 / 8%);
    position: relative;
    margin: 0 0 30px;
    border: 1px solid #e4e4e4;
    z-index: 1;
    transition: all 0.3s ease;
    border-radius: 3px;
}

.text-about,ol{
  color: #6c757d!important;
      left: 1px;
      font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    font-size: 14.5px;
}